<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VideoChat</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <!-- <script>
        const ROOM_ID="<%=roomId%>"
        alert(ROOM_ID)
    </script> -->



<!-- <style>

*{
    margin: 0;
    padding: 0;
}
 .outerbody{
    width: 100vw;
    height: 100vh;
    border: 2px solid red;
    display: flex;
    /* margin-bottom: รท; */

    /* background-color: red; */

}

.lowerbody{
    height: 8vh;
    width: 100vw;
    border: 2px solid blue;



}
.mic{
    height: 50px;
    width: 50px;
    border: 2px solid black;

}
.video{
    height: 50px;
    width: 50px;
    border: 2px solid green;
   
    


}
.chat{
    height: 50px;
    width: 50px;
    border: 2px solid black;
 
}
.invite{
    height: 50px;
    width: 50px;
    border: 2px solid black;

}</style> -->
</head>
<body>
    <!-- Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut, amet. -->
    <div class="outerbody">
        Hello
        <div class="lowerbody">
            <div class="mic"></div>
            <div class="video"></div>
            <div class="chat"></div>
            <div class="invite"></div>
        </div>
    </div>
    
</body>
</html>